* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px; 
 
}
.logo {
 
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items:center ;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    color: #727272;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../image/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 2px 2px 2px#444444;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}
.banner_headline h2 {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 2px 2px 2px#444444;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    max-width: 350px;
}
.banner_option {
    height: 210px;
    display: flex;
   
}
.banner1,
.banner2,
.banner3 {
  flex: 1;  
  color: white;
  padding: 20px;
}
.banner1 {
    background-color:#39aae1 ;
}
.banner2 {
    background-color:#0079c7 ;
}
.banner3 {
    background-color:#2b4c99 ;
}
.banner_title {
    font-size: 21;

}
.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_option a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.dia1,
.dia2,
.dia3{
    border-bottom: gray solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;

}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 21px; 
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top:10px ;
}

article a {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right:2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 28px;
}
 article .news_resume {
     color: #5c5c5c;
     font-size: 14px;
     line-height: 22px;
     margin-bottom: 30px;
 }

   


